//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 20 08:32:15 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "rgb<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "rgb<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "rgb<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "rgb<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "rgb<4>" LOCATE = SITE "C6" LEVEL 1;
COMP "rgb<5>" LOCATE = SITE "A5" LEVEL 1;
COMP "rgb<6>" LOCATE = SITE "B6" LEVEL 1;
COMP "rgb<7>" LOCATE = SITE "A6" LEVEL 1;
COMP "rgb<8>" LOCATE = SITE "B7" LEVEL 1;
COMP "rgb<9>" LOCATE = SITE "C7" LEVEL 1;
COMP "hsync" LOCATE = SITE "B11" LEVEL 1;
COMP "rgb<10>" LOCATE = SITE "D7" LEVEL 1;
COMP "rgb<11>" LOCATE = SITE "D8" LEVEL 1;
COMP "vsync" LOCATE = SITE "B12" LEVEL 1;
COMP "rst" LOCATE = SITE "M18" LEVEL 1;
SCHEMATIC END;

