## Clock signal
NET "clk"   LOC = "E3"	| IOSTANDARD = "LVCMOS33";					#Bank = 35, Pin name = #IO_L12P_T1_MRCC_35,					Sch name = clk100mhz
#NET "clk100mhz" TNM_NET = sys_clk_pin;
#TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100 MHz HIGH 50%; 




## Buttons
#NET "cpu_resetn"     LOC=C12 | IOSTANDARD=LVCMOS33; #IO_L3P_T0_DQS_AD1P_15

#NET "btnc"           LOC=N17 | IOSTANDARD=LVCMOS33; #IO_L9P_T1_DQS_14
NET "btn[1]"           LOC=P18 | IOSTANDARD=LVCMOS33; #IO_L9N_T1_DQS_D13_14
NET "rst"           LOC=P17 | IOSTANDARD=LVCMOS33; #IO_L12P_T1_MRCC_14
#NET "btnr"           LOC=M17 | IOSTANDARD=LVCMOS33; #IO_L10N_T1_D15_14
NET "btn[0]"           LOC=M18 | IOSTANDARD=LVCMOS33; #IO_L4N_T0_D05_14

##VGA Connector
NET "rgb[0]"       LOC=A3 | IOSTANDARD=LVCMOS33; #IO_L8N_T1_AD14N_35
NET "rgb[1]"       LOC=B4 | IOSTANDARD=LVCMOS33; #IO_L7N_T1_AD6N_35
NET "rgb[2]"       LOC=C5 | IOSTANDARD=LVCMOS33; #IO_L1N_T0_AD4N_35
NET "rgb[3]"       LOC=A4 | IOSTANDARD=LVCMOS33; #IO_L8P_T1_AD14P_35

NET "rgb[4]"       LOC=C6 | IOSTANDARD=LVCMOS33; #IO_L1P_T0_AD4P_35
NET "rgb[5]"       LOC=A5 | IOSTANDARD=LVCMOS33; #IO_L3N_T0_DQS_AD5N_35
NET "rgb[6]"       LOC=B6 | IOSTANDARD=LVCMOS33; #IO_L2N_T0_AD12N_35
NET "rgb[7]"       LOC=A6 | IOSTANDARD=LVCMOS33; #IO_L3P_T0_DQS_AD5P_35

NET "rgb[8]"       LOC=B7 | IOSTANDARD=LVCMOS33; #IO_L2P_T0_AD12P_35
NET "rgb[9]"       LOC=C7 | IOSTANDARD=LVCMOS33; #IO_L4N_T0_35
NET "rgb[10]"       LOC=D7 | IOSTANDARD=LVCMOS33; #IO_L6N_T0_VREF_35
NET "rgb[11]"       LOC=D8 | IOSTANDARD=LVCMOS33; #IO_L4P_T0_35

NET "hsync"         LOC=B11 | IOSTANDARD=LVCMOS33; #IO_L4P_T0_15
NET "vsync"         LOC=B12 | IOSTANDARD=LVCMOS33; #IO_L3N_T0_DQS_AD1N_15
